<?php

$SQLITE_FILE = '/path/to/DB/dockontrol.db';

$access = array(
	'admin' => array(
		'password1' => 'PASSWORD_SAVED_ON_DOCKONTROL',
		'password2' => 'PASSWORD_SAVED_IN_BROWSER',
		'nuki_ip' => '192.168.1.XXX',
		'nuki_port' => '8080',
		'nuki_id' => 'XXXXXX',
		'nuki_token' => 'XXXXXXXXXXXX',
		'device_type' => '0',
		// can be false/null to allow any IP
		'ip_whitelist' => array('1.2.3.4','5.6.7.8'),
	)
);


