<?php

namespace Dockontrol\NukiAPI;

require_once dirname(__FILE__) . '/Access.php';

$SQLITE_FILE = '/path/to/DB/dockontrol.db';

$access_list = [
	'admin' => new Access(
		'PASSWORD_SAVED_ON_DOCKONTROL',
		'PASSWORD_SAVED_IN_BROWSER',
		'192.168.1.XXX',
		8080,
		111111111111111,
		'XXXXXX',
		'0',
		['1.2.3.4'],
		['dockontrol.local'],
		false
	),
];
